body {
  background-color: black;
  border-radius: 32px;
  height: 100vh;
}

#root {
  height: 90%;
}

.ArchidektReporting {
  text-align: center;
  background-color: #52321c;
  margin: 16px;
  border-radius: 32px;
  height: 100%;
}

.search-container {
  border: 1px solid;
  display: inline-block;
  padding: 16px;
  margin-top: 32px;
  background-color: #9b5731;
}

.archidektContainer {
  color: #6da3bb;
}

.search-type-container {
  display: inline-block;
}

.search-input {
  text-align: center;
  display: block;
  margin: 16px auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
